<script src="../checkCountry.js"></script>
<html>
<script src="../../header.js"></script>

<body>
    <script>
        var countryPrefix = localStorage.getItem('urlPrefix');
        function processEmail() {
            var email = document.getElementById('email').value;
            if (document.getElementById("emailForm").checkValidity()) {
                fetch(new Request('/api/getMember?email=' + email, { method: 'GET' }))
                    .then(function (response) {
                        // First, check if the response body is not empty.
                        if (response.status === 204 || response.status === 205 || !response.ok) {
                            throw new Error('Account does not exist.');
                        }
                        // If it's not empty, parse it as JSON.
                        return response.json();
                    })
                    .then(function (data) {
                        // This will only be reached if the response was not empty
                        // and was successfully parsed as JSON.
                        sessionStorage.setItem('memberForgetPassword', JSON.stringify(data));
                        window.location.href = '/B/' + countryPrefix + '/forgotPasswordSecurity.html';
                    })
                    .catch(function (error) {
                        console.log("in the catch function at the bottom");
                        console.log(error);
                        var url = window.location.origin + window.location.pathname;
                        window.location.href = url + '?errMsg= Invalid email entered, please try again';
                    });
            }
        }
    </script>

    <script src="menu2.js"></script>
    <div role="main" class="main">
        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Login / Register</h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <script src="/displayMessageLong.js"></script>
            <div class="row">
                <div class="col-md-12">
                    <div class="row featured-boxes login">
                        <div class="col-md-12">
                            <div class="featured-box featured-box-secundary default info-content">
                                <div class="box-content">
                                    <h4>Forgot Password</h4>
                                    <form onsubmit="return false;" id="emailForm">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Enter your email</label>
                                                    <input type="email" id="email" class="form-control input-lg"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input onclick="processEmail()" type="submit" value="Submit"
                                                    class="btn btn-primary pull-right push-bottom">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../footer.js"></script>
</body>

</html>